*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
}
.red{
    color:red;
}
.text{
    color :#FFFFFF;
    position: absolute;
    top: 264px;
    left: 43px;
    text-align: center;
    width: 1475px;
    height: 186px;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 45px;
    font-family: "Bebas Neue";
    opacity: 1;
}
.line{
    position: absolute;
    width: 450px;
    top: 380px;
    left: 35%;
    height: 4px!important;
    background: red;
}
.sub_text{
    position: absolute;
    top: 400px;
    left: 451px;
    width: 618px;
    height: 63px;
    text-align: center;
    font: normal normal normal 18px/30px Access;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}